<div class="footer">
    <p>
        &copy; <%= new Date().getFullYear(); %> Let's Talk Solutions
    </p>

    <a href="/docs/LTS_Privacy_Policy.pdf" class="footreg">Privacy Policy</a> |
    <span class="footreg">Company Registration: 2019/588800/07</span> |
    <a href="/docs/LTS_Terms_and_Privacy.pdf" class="footreg">Terms & Conditions</a>
</div>